{% extends 'base.html' %}
{% block content %}

<h1>Pokemon Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ pokemon.name }}</span>
        <p><span class="poke-labels">Type:</span> {{ pokemon.type }}</p>
        <p><span class="poke-labels">Strong Against:</span> {{ pokemon.super_effective }}</p>
        <p><span class="poke-labels">Weaknesses:</span> {{ pokemon.weak_against }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'pokemon_update' pokemon.id %}">Edit</a>
        <a href="{% url 'pokemon_delete' pokemon.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_item' pokemon.id %}" method="POST">
      {% csrf_token %}
      {{ item_form.as_p }}
      <input type="submit" class="btn" value="Add Item">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Item</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pokemon.item_set.all %}
        <tr>
          <td>{{item.date}}</td>
          <td>{{item.get_item_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ pokemon.name }}'s Moves</h3>
    {% if pokemon.moves.count %}
    {% for move in pokemon.moves.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ move.name }}: {{ move.type }} type move
        </span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No Moves Set Yet</h5>
    {% endif %}
  </div>
  <!-- Available moves will come after this line -->
  <div class="col s6">
    <h3>Available Moves</h3>
    {% if moves.count %}
    {% for move in moves.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ move.name }}: {{ move.type }} type move
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_move' pokemon.id move.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{pokemon.name}} Already Has All Moves Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
    });

  const itemEl = document.getElementById('id_item');
  M.FormSelect.init(itemEl);
</script>
{% endblock %}